

.nav-link {
    text-transform: uppercase;
    margin-right: 30px;
}

.jumbotron {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    height: 400px;
}

.jumbotron .display-4 {
    color: white;
    text-align : center;
    margin-top: 160px;
    font-size: 30px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}

.info-panel {
    box-shadow: 0 3px 20px rgba(0,0,0, 0.5);
    border-radius: 12px;
    background-color: white;
    margin-top: -100px;
    padding: 30px;
}

.info-panel i{
    margin-right: 20px;
    margin-bottom: 20px;
}

.info-panel h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

.info-panel p {
    font-size: 14px;
    color: #ACACAC;
    margin-top: -5px;
    font-weight: 500;
}

.workingspace {
    margin-top: 120px;
    text-align: center;
}

.workingspace h3 {
    font-size: 52px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 30px;
}

.workingspace h3 strong {
    font-weight: 500;
}

.workingspace p {
    font-size: 18px;
    color: #ACACAC;
    font-weight: 200;
    margin: 30px 0;
}

.footer {
    margin-top: 100px;
    margin-bottom: 30px;
}
.footer p{
    font-size: 18px;
    color: #ACACAC;
}

@media (min-width: 992px) {
    .navbar-brand, .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
    }
    .jumbotron {
        margin-top: -70px;
        height: 570px;
    }

    .jumbotron .display-4 {
        font-size: 62px;
    }

    .workingspace {
        text-align: left;
    }

}